/* Base Application Styles */

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.max-image-size{
  width:300px;
}

.cursor-pointer{
  cursor: pointer;
}

.cookie-fortune{
  color: #89b5dc;
}